
<!-- Search Widget -->
<div class="card my-4">
	<h5 class="card-header">Поиск</h5>
	<div class="card-body">
		<div class="input-group">
			<input type="text" class="form-control" placeholder="Я хочу найти..." />
			<span class="input-group-btn">
				<button class="btn btn-secondary" type="button">Искать</button>
			</span>
		</div>
	</div>
</div>

<!-- Categories Widget -->
<div class="card my-4">
	<h5 class="card-header">Категории</h5>
	<div class="card-body">
		<div class="row">
			<div class="col-lg-6">
				<ul class="list-unstyled mb-0">
					<li><a href="#">Здоровье</a></li>
					<li><a href="#">Еда</a></li>
					<li><a href="#">Лекарства</a></li>
				</ul>
			</div>
			<div class="col-lg-6">
				<ul class="list-unstyled mb-0">
					<li><a href="#">Врачи</a></li>
					<li><a href="#">Мед. центры</a></li>
				</ul>
			</div>
		</div>
	</div>
</div>

<!-- Side Widget -->
<div class="card my-4">
	<h5 class="card-header">Полезное</h5>
	<div class="card-body">Регулярно проверяйте зрение у окулиста! Включайте
	в рацион много овощей и фруктов. </div>
</div>