<html xmlns:th="http://www.thymeleaf.org">
<div th:replace="@{fragments/header}"></div>
<link th:href="@{/css/style-top-padding.css}" rel="stylesheet" />
<body>
	
	<div th:replace="@{fragments/menu}"></div>

	<div class="container">

      <div class="row">

        <!-- Blog Entries Column -->
        <div class="col-md-8">

          <h1 class="my-4">Упражнения для зрения
            <small></small>
          </h1>
          
          <!-- Blog Post -->
          <div class="card mb-4" th:each="ex : ${exercises}" th:unless="${#lists.isEmpty(exercises)}">
            <img class="card-img-top" src="http://placehold.it/750x300" alt="Card image cap" th:src="${ex.imagePath}"/>
            <div class="card-body">
              <h2 class="card-title" th:text="${ex.name}">Post Title</h2>
              <p class="card-text" th:text="${ex.instructions}">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis aliquid atque, nulla? Quos cum ex quis soluta, a laboriosam. Dicta expedita corporis animi vero voluptate voluptatibus possimus, veniam magni quis!</p>
              <a href="#" class="btn btn-primary">Подробнее &rarr;</a>
            </div>
            <div class="card-footer text-muted">
              
            </div>
          </div>

        </div>
        

        <!-- Sidebar Widgets Column -->
        <div class="col-md-4">
			<div th:replace="@{fragments/widgets}"></div>
        </div>

      </div>
      <!-- /.row -->

    </div>
    <!-- /.container -->
    <div th:replace="@{fragments/footer}"></div>

</body>
</html>