<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Spring Boot Thymeleaf Hello World Example</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
	integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
	crossorigin="anonymous" />
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
	integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
	crossorigin="anonymous" />
	
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

</head>
<body>

	<nav class="navbar navbar-inverse">
		<div class="container">
			<div class="navbar-header">
				<a class="navbar-brand" href="#">Spring Boot</a>
			</div>
			<div id="navbar" class="collapse navbar-collapse">
				<ul class="nav navbar-nav">
					<li><a href="">Home</a></li>
					<li class="dropdown">
						<a href="/tests" class="dropdown-toggle" data-toggle="dropdown" role="button" 
						aria-haspopup="true"
						aria-expanded="false">Tests <span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li><a href="tests">All</a></li>
							<li role="separator" class="divider"></li>
							<li><a href="tests/showAddForm">Create test</a></li>
						</ul></li>
					<li><a href="exercises">Exercises</a></li>
				</ul>
			</div>
		</div>
	</nav>

	<div class="container">

		<div class="starter-template">
		
			<a href="tests/showAddForm" class="btn btn-info" role="button">Show form</a>
			<br/>
			<h1>List of tests</h1>
			
			<div class="testsList" th:unless="${#lists.isEmpty(tests)}">
				<table class="table table-hover">
					<thead>
						<tr>
							<th scope="col">Test Name</th>
							<th scope="col">Description</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="test : ${tests}" scope="row" 
							th:onclick="'javascript:rowClicked(\'' + ${test.id} + '\');'"
							onclick="window.location='/tests/';" 
							style="cursor: pointer;">
							<td th:text="${test.name}">name</td>
							<td th:text="${test.testDescription}">descr</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>

	</div>
	<!-- /.container -->
	<script>
	    function rowClicked(value) {
	        location.href = "/tests/" + value;
	    }
</script>
</body>
</html>